body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#date-selectors {
  display: flex;
  flex-direction: row;
}

#new-plant-form {
  background-color: #eeeeee;
  border-radius: 5px;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

#bloom-date-holder {
  display: grid;
  width: 90%;
  height: 45vh;
  margin: 0 5vw 0 5vw;
  /* grid-template-areas:
    "title" "title" "title"
    "select-all" "select-all" "select-all"
    "jan" "feb" "mar"
    "apr" "may" "jun"
    "jul" "aug" "sep"
    "oct" "nov" "dec"
    "select-none" "select-none" "select-none"
    "wildlife" "wildlife" "wildlife"; */
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

#bloom-date-holder > #bloom-date-holder-label {
  grid-column: 1/4;
}

#bloom-date-holder > #bloom-select-all-months {
  grid-column: 1/4;
}

#bloom-date-holder > #bloom-select-no-months {
  grid-column: 1/4;
}

#bloom-date-holder > #bloom-attracted-wildlife-div {
  grid-column: 1/4;
}

/* Code to put the buttons in a snaking configuration in the table
to allow each paint over selection through the year. They're still correctly
tab-able due to the correct tab index being set on them in the DateSelect component

/* The indexing for nth-child includes ALL child elements, regardless of whether they match
the button selector or not, so this is the selector for April */
#bloom-date-holder > button:nth-child(6) {
  grid-column: 3/4;
  grid-row: 4/5;
}
#bloom-date-holder > button:nth-child(7) {
  grid-column: 2/3;
  grid-row: 4/5;
}
#bloom-date-holder > button:nth-child(8) {
  grid-column: 1/2;
  grid-row: 4/5;
}

#bloom-date-holder > button:nth-child(12) {
  grid-column: 3/4;
  grid-row: 6/7;
}
#bloom-date-holder > button:nth-child(13) {
  grid-column: 2/3;
  grid-row: 6/7;
}
#bloom-date-holder > button:nth-child(14) {
  grid-column: 1/2;
  grid-row: 6/7;
}

#fruit-date-holder {
  display: grid;
  width: 90%;
  height: 45vh;
  margin: 0 5vw 0 5vw;
  /* grid-template-areas:
    "title" "title" "title"
    "select-all" "select-all" "select-all"
    "jan" "feb" "mar"
    "apr" "may" "jun"
    "jul" "aug" "sep"
    "oct" "nov" "dec"
    "select-none" "select-none" "select-none"
    "wildlife" "wildlife" "wildlife"; */
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

#fruit-date-holder > #fruit-date-holder-label {
  grid-column: 1/4;
}

#fruit-date-holder > #fruit-select-all-months {
  grid-column: 1/4;
}

#fruit-date-holder > #fruit-select-no-months {
  grid-column: 1/4;
}

#fruit-date-holder > #fruit-attracted-wildlife-div {
  grid-column: 1/4;
}

/* Code to put the buttons in a snaking configuration in the table
to allow each paint over selection through the year. They're still correctly
tab-able due to the correct tab index being set on them in the DateSelect component

/* The indexing for nth-child includes ALL child elements, regardless of whether they match
the button selector or not, so this is the selector for April */
#fruit-date-holder > button:nth-child(6) {
  grid-column: 3/4;
  grid-row: 4/5;
}
#fruit-date-holder > button:nth-child(7) {
  grid-column: 2/3;
  grid-row: 4/5;
}
#fruit-date-holder > button:nth-child(8) {
  grid-column: 1/2;
  grid-row: 4/5;
}

#fruit-date-holder > button:nth-child(12) {
  grid-column: 3/4;
  grid-row: 6/7;
}
#fruit-date-holder > button:nth-child(13) {
  grid-column: 2/3;
  grid-row: 6/7;
}
#fruit-date-holder > button:nth-child(14) {
  grid-column: 1/2;
  grid-row: 6/7;
}

#other-date-holder {
  display: grid;
  width: 90%;
  height: 45vh;
  margin: 0 5vw 0 5vw;
  /* grid-template-areas:
    "title" "title" "title"
    "select-all" "select-all" "select-all"
    "jan" "feb" "mar"
    "apr" "may" "jun"
    "jul" "aug" "sep"
    "oct" "nov" "dec"
    "select-none" "select-none" "select-none"
    "wildlife" "wildlife" "wildlife"; */
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

#other-date-holder > #other-date-holder-label {
  grid-column: 1/4;
}

#other-date-holder > #other-select-all-months {
  grid-column: 1/4;
}

#other-date-holder > #other-select-no-months {
  grid-column: 1/4;
}

#other-date-holder > #other-attracted-wildlife-div {
  grid-column: 1/4;
}

/* Code to put the buttons in a snaking configuration in the table
to allow each paint over selection through the year. They're still correctly
tab-able due to the correct tab index being set on them in the DateSelect component

/* The indexing for nth-child includes ALL child elements, regardless of whether they match
the button selector or not, so this is the selector for April */
#other-date-holder > button:nth-child(6) {
  grid-column: 3/4;
  grid-row: 4/5;
}
#other-date-holder > button:nth-child(7) {
  grid-column: 2/3;
  grid-row: 4/5;
}
#other-date-holder > button:nth-child(8) {
  grid-column: 1/2;
  grid-row: 4/5;
}

#other-date-holder > button:nth-child(12) {
  grid-column: 3/4;
  grid-row: 6/7;
}
#other-date-holder > button:nth-child(13) {
  grid-column: 2/3;
  grid-row: 6/7;
}
#other-date-holder > button:nth-child(14) {
  grid-column: 1/2;
  grid-row: 6/7;
}

#add-plant {
  flex: 1 5vw;
}

.plantList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.bloom-color {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 25px;
  width: 25px; */
}

#color-block-holder {
  display: flex;
  flex-direction: row;
}

.color-block-button {
  flex: 1 10px;
  margin: 7px;
  padding: 5px;
  color: #aaaaaa;
  border: 3px solid #222222;
}

.light-text {
  color: #ffffff;
}

.dark-text {
  color: #222222;
}

.selected-color {
  border: 3px solid red;
}

.plant-card {
  display: flex;
  flex-direction: column;
}

svg {
  width: 35px;
  height: 35px;
}

/* #bloom-date-holder {
  display: flex;
  flex-direction: row;
  height: 10vh;
} */

.bloom-month,
.fruit-month,
.other-month {
  flex: 1 5vw;
  border-radius: 0;
  min-height: 25px;
  border: 0.25px solid rgb(225, 225, 225);
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.bloom-month:hover,
.fruit-month:hover,
.other-month:hover {
  background-color: rgba(50, 250, 250, 0.1);
}

/* .fruit-month {
  flex: 1 5vw;
}

.other-month {
  flex: 1 5vw;
} */

#bloom-select-all-months,
#bloom-select-no-months,
#fruit-select-all-months,
#fruit-select-no-months,
#other-select-all-months,
#other-select-no-months {
  margin: 0.5vw;
  border: 2px solid darkblue;
  border-radius: 50px;
}

/*Pseudoclass selector when disabled to make the outline lighter and the button less apparent*/
#bloom-select-all-months:disabled,
#bloom-select-no-months:disabled,
#fruit-select-all-months:disabled,
#fruit-select-no-months:disabled,
#other-select-all-months:disabled,
#other-select-no-months:disabled {
  margin: 0.5vw;
  border: 2px solid lightblue;
  border-radius: 50px;
}

.selected-month {
  border: 1px solid hotpink;
  border-radius: 0px;
}
