body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#new-plant-form {
  background-color: #eeeeee;
  border-radius: 5px;
}

.plantList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.bloom-color {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 25px;
  width: 25px; */
}

#color-block-holder {
  display: flex;
  flex-direction: row;
}

.color-block-button {
  flex: 1 10px;
  margin: 7px;
  padding: 5px;
  color: #aaaaaa;
  border: 3px solid #222222;
}

.light-text {
  color: #ffffff;
}

.dark-text {
  color: #222222;
}

.selected-color {
  border: 3px solid red;
}

.plant-card {
  display: flex;
  flex-direction: column;
}

svg {
  width: 35px;
  height: 35px;
}

#bloom-date-holder {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.bloom-month {
  flex: 1 5vw;
}

#select-all-months,
#select-no-months {
  margin: 0.5vw;
  border-radius: 30px;
}

.selected-month {
  border: 3px solid hotpink;
  border-radius: 5px;
}
